progress-4/My workflow 3(1).json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1C2R_UjCr6U9BJ5xWUtvLxuEf9AK6xhM3",
          "mode": "list",
          "cachedResultName": "Project RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1C2R_UjCr6U9BJ5xWUtvLxuEf9AK6xhM3"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "fd49e57b-3a94-4dec-adf6-91930b48f0f3",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JspVBCJsCOLOIEqX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "2791b311-91b8-4404-b458-da7c466f73e0",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JspVBCJsCOLOIEqX",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "rag-index",
          "mode": "list",
          "cachedResultName": "rag-index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        624,
        0
      ],
      "id": "0828bf06-2a15-403c-9c8b-2abfd997018b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "GgMzP1TU1QygwpgB",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        528,
        192
      ],
      "id": "a40c30ae-83f0-4421-bb9e-50f2245b7b01",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ErUpwJxqD99EmZC7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        768,
        208
      ],
      "id": "85783422-648a-4049-9142-b4bbfa1313c9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        864,
        416
      ],
      "id": "729ccc57-43ad-4bac-9711-cf90589bebc0",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "564f0fdd-44b8-4fa6-8b35-a889665b346c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "807464864fa6b8f46e2e1a77b8ec00614a4c68b7b9ef24f2c46d1c538f37a9f5"
  },
  "id": "ZAQdkrmlYeTUSigU",
  "tags": []
}